# Build artifacts
/target/
/dist/
**/*.rs.bk

# IDE
/.vs/
/.idea/
*.iml
*.suo
*.user

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Local dev
/.env
/.local/

# Profiling output
*.etl
*.wpa.json
flame.svg
